<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>You have successfully submitted your application, <%= @retreat_app.personal_info.firstname %>!</h1>
    <p>

    <p>Thanks and have a great day!</p>
  </body>
</html>