<h1>Welcome to the Admin Dashboard!</h1>

<ul>
  <li><%= link_to "List all retreat applicants", admins_dashboard_path %></li>
  <li><%= link_to "All accepted applicants", admins_dashboard_path %></li>
  <li><%= link_to "All rejected applicants", admins_dashboard_path %></li>
  <li><%= link_to "All pending applicants", admins_dashboard_path %></li>
</ul>
Pull up specific applicants names and their information<br />

Change status of application to accepted/rejected <br />


