<h1>Welcome to the Admin Dashboard!</h1>

See all retreat applicants<br/>

See all accepted/rejected/pending applicants<br/ >

Pull up specific applicants names and their information<br />

Change status of application to accepted/rejected <br />


