<h1>Welcome to the Admin Dashboard!</h1>

<ul>
  <li><%= link_to "List all retreat applicants", admins_dashboard_index_path %></li>
 
</ul>
Pull up specific applicants names and their information<br />

Change status of application to accepted/rejected <br />


