$navbar-default-bg: #ffd1b3;

@import "bootstrap-sprockets";
@import "bootstrap";

body {
  
  background-image: asset-url('misty_morning.jpg');
  background-size: cover;

}
.jumbotron {
  height: 550px;
  opacity: 0.5;
}

.jumbotron h1 {

}

.center {
  text-align: center;
}

#logo {
  float: left;
  color: #000;
  letter-spacing: 0px;
}

#logo:hover {
  color: #797878;
  text-decoration: none;
}