$navbar-default-bg: #ffd1b3;

@import "bootstrap-sprockets";
@import "bootstrap";

background {
  
  background-image: asset-url('misty_morning.jpg');
  background-size: cover;
}

.jumbotron {
  width: 250px;
  height: 150px;
}

.center {
  text-align: center;
}

#logo {
  float: left;
  color: #000;
  letter-spacing: 0px;
}

#logo:hover {
  color: #797878;
  text-decoration: none;
}